<% if @users.any? || @restaurants.any? %>
  <div class="search-results">
    <% if @users.any? %>
    <ul class="list-unstyled mt-3">
      <% @users.each do |user| %>
        <li class="mb-3">
          <%= link_to user_path(user), data: { turbo_frame: "main_content" }, class: "d-flex align-items-center text-decoration-none text-dark" do %>
            <%= image_tag user.profile_picture,
                class: "rounded-circle me-3 border shadow-sm",
                style: "width: 50px; height: 50px; object-fit: cover;" %>
            <div>
              <strong><%= user.username %></strong>
            </div>
          <% end %>
        </li>
      <% end %>
    </ul>
  <% else %>
    <p class="text-muted text-center mt-3">No users found.</p>
  <% end %>

    <% if @restaurants.any? %>
      <ul class="list-group">
        <% @restaurants.each do |restaurant| %>
          <li class="list-group-item d-flex align-items-center">
            <%= image_tag restaurant.photos.first.variant(resize_to_limit: [40, 40]), class: "rounded me-2" if restaurant.photos.attached? %>
            <%= link_to restaurant.name, restaurant_path(restaurant), class: "fw-bold" %>
          </li>
        <% end %>
      </ul>
    <% end %>
  </div>
<% else %>
  <p class="text-muted">No results found.</p>
<% end %>
