<turbo-frame id="main_content">
<h1> Recommendations for <%= @restaurant.name %></h1>

<%= link_to "Add New Recommendation", new_restaurant_recommendation_path(@restaurant), class: "btn btn-primary mb-3" %>

<ul>
  <% @recommendations.each do |recommendation| %>
  <li>
    <strong>Description:</strong> <%= recommendation.description %><br>
    <strong>Tags:</strong> <%= recommendation.restaurant_tags %>
  </li>
  <% end %>
</ul>

<%= link_to "Back to Restaurant", restaurant_path(@restaurant), class: "btn btn-secondary mt-3" %>

<%= render "shared/bottom_nav" %>
<turbo-frame id="main_content">
