<turbo-frame id="main_content">
  <div class="profile-page">
    <div>Profile works for <%= user.username %></div>
    <h2><%= user.username %></h2>
    <% if user.profile_picture.attached? %>
      <%= image_tag user.profile_picture.variant(resize_to_limit: [150, 150]), alt: user.username, class: "rounded-circle" %>
    <% else %>
      <%= image_tag "default_avatar.png", size: "150x150", alt: user.username, class: "rounded-circle" %>
    <% end %>

    <%= link_to "Close", root_path, data: { turbo_frame: "_top" }, class: "btn btn-secondary mt-3" %>
  </div>
</turbo-frame>
