<div data-controller="search" class="position-relative">
  <div class="input-group">
    <%= form_with url: search_path, method: :get, data: { turbo_frame: "search_results", controller: "search", action: "input->search#submit" }, local: false, class: "d-flex" do |f| %>
      <%= f.text_field :q,
            value: params[:q],
            placeholder: "Search friends or restaurants...",
            class: "form-control form-control-sm",
            data: { search_target: "input" },
            autofocus: true %>
    <% end %>
  </div>

  <div data-search-target="popover" class="position-absolute mt-1 bg-white border rounded shadow-sm p-2 d-none" style="width: 300px; z-index: 1050;">
    <turbo-frame id="search_results">
      <!-- search results for both friends and restaurants will be injected here -->
      <% if @users.present? %>
        <h6>Friends</h6>
        <% @users.each do |user| %>
          <div>
            <%= link_to user.username, user_path(user), class: "d-block" %>
          </div>
        <% end %>
      <% end %>

      <% if @restaurants.present? %>
        <h6>Restaurants</h6>
        <% @restaurants.each do |restaurant| %>
          <div>
            <%= link_to restaurant.name, restaurant_path(restaurant), class: "d-block" %>
          </div>
        <% end %>
      <% end %>
    </turbo-frame>
  </div>
</div>


<%# <div data-controller="friend-search" class="position-relative">
  <%# <div class="input-group">
    <%# <%= form_with url: users_path, method: :get, data: { turbo_frame: "friend_search_results", controller: "friend-search", action: "input->friend-search#submit" }, local: false, class: "d-flex" do |f| %>
      <%# <%= f.text_field :q, placeholder: "Search friends...", class: "form-control form-control-sm", data: { friend_search_target: "input" }, autofocus: true %>
    <%# <% end %>
  <%# </div>

  <%# <div data-friend-search-target="popover" class="position-absolute mt-1 bg-white border rounded shadow-sm p-2 d-none" style="width: 250px; z-index: 1050;">
    <%# <turbo-frame id="friend_search_results">
      <%# <!-- search results will be injected here --> %>
    <%# </turbo-frame>
  </div>
</div> %>
