<!DOCTYPE html>
<html>
  <head>
    <title>TokyoBites</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <link href="https://api.mapbox.com/mapbox-gl-js/v3.14.0/mapbox-gl.css" rel="stylesheet">
    <%= javascript_importmap_tags %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
  </head>

  <body>
    <%= render "shared/flashes" %>
    <%= render "shared/navbar" %>
    
    <!-- Flash messages (Turbo Frame for live updates) -->
    <%= turbo_frame_tag "flash" do %>
      <% flash.each do |type, message| %>
        <div class="alert <%= "alert-success" if type == "notice" %> <%= "alert-danger" if type == "alert" %>">
          <%= message %>
        </div>
      <% end %>
    <% end %>

    <%= yield %>
    <%= render "shared/bottom_nav" %>
  </body>
</html>
